*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  src: url("./fonts/PermanentMarker-Regular.ttf");
  font-family: Permanent Marker;
}

@font-face {
  src: url("./fonts/Inter-Regular.ttf");
  font-family: Inter;
}

body {
  padding: 0;
  margin: 0;
  font-family: Permanent Marker;
}

/* Main container rules */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

/* Badges rules */

.badges-container {
  padding: 0 2.875em;
  display: grid;
  grid-template: repeat(5, auto) / repeat(3, auto);
  grid-template-areas:
    ". heading ."
    ". square-text ."
    ". squares ."
    ". pill-text ."
    ". pills ."
}

.badges-heading {
  grid-area: heading;
}

.badges-heading,
.banner-heading {
  color: #000;
  font-family: Permanent Marker;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  /* padding-left: 2.875em; */
  justify-self: center;
}

.square-text,
.pill-text {
  justify-self: center;
}

.square-text {
  grid-area: square-text;
}

.pill-text {
  grid-area: pill-text;
}

.square-badges-container,
.pill-badges-container {
  display: flex;
  gap: 1.5em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.square-badges-container {
  grid-area: squares;
}

.pill-badges-container {
  grid-area: pills;
}

.square-badge,
.pill-badge {
  font-family: Inter;
  border-radius: 4px;
  height: 24px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.badge-text {
  padding: 0.125em 0.75em;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Banners rules */

.banner-container {
  padding: 0 1em;
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  grid-template-areas:
    "banner-heading"
    "multi-heading"
    "multi";
}

.banner-heading {
  grid-area: banner-heading;
}

.multi-line-heading {
  grid-area: multi-heading;
}

.multi-subcontainer {
  grid-area: multi;
}

.banner-subheading,
.multi-line-heading {
  text-align: center;
  font-family: Permanent Marker;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
}

.multi-content {
  border-radius: 6px;
  max-width: 890px;
  height: auto;
  padding: 1em;
}

.content-title,
.content-text {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px
}

.content-title {
  font-weight: 500;
}

.content-text {
  font-weight: 400;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  .badges-container {
    max-width: 1000px;
    padding: 2.875em;
    display: grid;
    grid-template: 125px auto auto/ 150px auto auto;
    grid-template-areas:
      ". heading ."
      "square-text squares squares"
      "pill-text pills pills"
  }

  .badges-heading {
    justify-self: right;
  }

  .banner-container {
    max-width: 1000px;
    /* padding: 2.875em; */
    display: grid;
    grid-template: 125px auto auto/ 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". banner-heading banner-heading . ."
      ". multi-heading multi-heading . ."
      "multi multi multi multi multi";
  }

  .banner-heading,
  .multi-line-heading {
    justify-self: left;
  }

  .banner-subheading {
    grid-area: subheading;
    margin-right: 1em;
  }

  .multi-content {
    grid-area: container;
  }

  .multi-content-container {
    padding: 0 2.875em;
    max-width: 900px;
    display: grid;
    grid-template: auto / 150px auto auto;
    grid-template-areas: "subheading container container";
  }


}