*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  src: url("./fonts/PermanentMarker-Regular.ttf");
  font-family: Permanent Marker;
}

@font-face {
  src: url("./fonts/Inter-Regular.ttf");
  font-family: Inter;
}

body {
  padding: 0;
  margin: 0;
  font-family: Permanent Marker;
}

/* Main container rules */

.app {
  max-width: 2560px;
  background-color: wheat;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Badges rules */

.badges-container {
  padding: 0 2.875em;
  display: grid;
  grid-template: repeat(5, auto) / repeat(3, auto);
  grid-template-areas:
    ". heading ."
    ". square-text ."
    ". squares ."
    ". pill-text ."
    ". pills ."
}

.badges-heading {
  grid-area: heading;
}

.badges-heading,
.banner-heading,
.card-section-heading,
.testimonials-heading {
  color: #000;
  font-family: Permanent Marker;
  font-size: 2.55rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  /* padding-left: 2.875em; */
  justify-self: center;
}

.square-text,
.pill-text {
  text-align: center;
}

.square-text {
  grid-area: square-text;
}

.pill-text {
  grid-area: pill-text;
}

.square-badges-container,
.pill-badges-container {
  display: flex;
  gap: 1.5em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.square-badges-container {
  grid-area: squares;
}

.pill-badges-container {
  grid-area: pills;
}

.square-badge,
.pill-badge {
  font-family: Inter;
  border-radius: 4px;
  height: 24px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.badge-text {
  padding: 0.125em 0.75em;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Banners rules */

.banner-container {
  padding: 0 1em;
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  grid-template-areas:
    "banner-heading"
    "multi-heading"
    "multi"
    "single-heading"
    "single";
}

.banner-heading {
  grid-area: banner-heading;
}

.multi-line-heading {
  grid-area: multi-heading;
}

.multi-subcontainer {
  grid-area: multi;
}

.banner-subheading,
.multi-line-heading,
.single-heading {
  text-align: center;
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
}

.banner-subheading {
  font-size: 1.5rem;
}

.single-heading,
.multi-line-heading {
  font-size: 2rem;
}

.multi-content,
.single-content {
  border-radius: 6px;
  max-width: 890px;
  padding: 1em;
}

.multi-content {
  height: auto;
}

.single-content {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.content-title,
.content-text,
.single-title {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px
}

.content-title {
  font-weight: 500;
}

.content-text {
  font-weight: 400;
}

.single-heading {
  grid-area: single-heading;
}

.single-subcontainer {
  grid-area: single;
}

/* Cards rules */

.card {
  display: flex;
  position: relative;
  max-width: 384px;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  background-color: #F9FAFB;
  padding: 2em 1.5em;
  margin: 3em 1em 1em;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
}

.card-icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background: #3F75FE;
  border-radius: 6px;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.card-heading {
  color: #111827;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.card-text {
  color: #6B7280;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Testimonials rules */

.testimonial-container {
  max-width: 100%;
  margin: 1em;
  padding: 0 1em;
}

.testimonial-upper,
.testimonial-lower {
  padding: 0 1em;
}

.testimonial-upper {
  width: 100%;
  height: 103px;
  flex-shrink: 0;
  background-color: #FFF;
  /* background-color: red; */
}

.testimonial-image {
  width: 100%;
  height: 206px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
}

.testimonial-lower {
  background-color: #2545B8;
  padding: 3em 1em;
}

.lower-text,
.lower-name-text,
.lower-position-text {
  color: #FFF;
  font-family: Inter;
  font-style: normal;
  line-height: 32px;
}

.lower-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.lower-name-text {
  font-size: 1rem;
  font-weight: 700;
}

.lower-position-text {
  font-size: 1rem;
  font-weight: 500;
}

/* Testimonials without picture rules */

.testimonials-no-pic-container {
  max-width: 256px;
  padding: 4.625em 1em;
  margin-bottom: 1em;
  background-color: white;
}

.no-pic-text,
.no-pic-name,
.no-pic-company {
  font-family: Inter;
  font-style: normal;
}

.no-pic-name,
.no-pic-company {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.no-pic-text {
  color: #111827;
  font-size: 1.5rem;
  line-height: 36px;
}

.no-pic-name {
  color: #111827;
}

.no-pick-company {
  color: #6B7280;
}

@media (min-width: 768px) {

  .testimonial-subcontainer {
    display: grid;
    grid-template: repeat(3, auto) / 64px 384px 32px auto auto;
    grid-template-areas:
      ". . . words words"
      ". image . words words"
      ". . . words words";
    /* max-width: 1300px; */
    background-color: #2545B8;
  }

  .testimonial-image {
    width: 384px;
    height: 500px;
    border-radius: 12px;
  }

  .testimonial-lower {
    grid-area: words;
  }

  .testimonial-upper {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2545B8;
  }

  .testimonials-no-pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    padding: 4.625em 1em;
    margin: 5em 1em 1em;
    background-color: white;
  }

  .no-pic-text {
    text-align: center;
  }

}

@media (min-width: 1024px) {
  .badges-container {
    max-width: 1000px;
    padding: 2.875em;
    display: grid;
    grid-template: 125px auto auto/ 150px auto auto;
    grid-template-areas:
      ". heading ."
      "square-text squares squares"
      "pill-text pills pills"
  }


  .square-text,
  .pill-text {
    text-align: right;
    margin-right: 1em;
  }

  .badges-heading {
    justify-self: right;
  }

  .banner-container {
    max-width: 1400px;
    /* padding: 2.875em; */
    display: grid;
    grid-template: 125px auto auto/ 180px 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". banner-heading banner-heading . ."
      ". multi-heading multi-heading . single-heading"
      "multi multi multi multi single";
  }

  .banner-heading,
  .multi-line-heading,
  .single-heading {
    justify-self: left;
  }

  .multi-content-container {
    padding: 0 2.875em;
    display: grid;
    grid-template: auto / 130px auto auto;
    grid-template-areas: "subheading container container";
    margin-bottom: 1em;
  }

  .banner-subheading {
    grid-area: subheading;
    margin-right: 1em;
    justify-self: right;
  }

  .multi-content {
    grid-area: container;
  }

  .single-subcontainer {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
  }

  .single-content-container {
    display: flex;
    align-items: flex-end;
  }

  .single-content {
    height: 50px;
    width: 400px;
  }

  .card-section-heading {
    text-align: center;
  }

  .cards-container {
    display: flex;
  }

}

@media (min-width: 1440px) {
  .testimonial-image {
    height: 464px;
  }
}

@media (min-width: 2560px) {
  .testimonial-image {
    height: 400px;
  }
}