*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  src: url("./fonts/PermanentMarker-Regular.ttf");
  font-family: Permanent Marker;
}

@font-face {
  src: url("./fonts/Inter-Regular.ttf");
  font-family: Inter;
}

body {
  padding: 0;
  margin: 0;
  font-family: Permanent Marker;
}

/* Main container rules */

.app {
  max-width: 2560px;
  background-color: wheat;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

/* Badges rules */

.badges-container {
  padding: 0 2.875em;
  display: grid;
  grid-template: repeat(5, auto) / repeat(3, auto);
  grid-template-areas:
    ". heading ."
    ". square-text ."
    ". squares ."
    ". pill-text ."
    ". pills ."
}

.badges-heading {
  grid-area: heading;
}

.badges-heading,
.banner-heading,
.card-section-heading {
  color: #000;
  font-family: Permanent Marker;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  /* padding-left: 2.875em; */
  justify-self: center;
}

.square-text,
.pill-text {
  justify-self: center;
}

.square-text {
  grid-area: square-text;
}

.pill-text {
  grid-area: pill-text;
}

.square-badges-container,
.pill-badges-container {
  display: flex;
  gap: 1.5em;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.square-badges-container {
  grid-area: squares;
}

.pill-badges-container {
  grid-area: pills;
}

.square-badge,
.pill-badge {
  font-family: Inter;
  border-radius: 4px;
  height: 24px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.badge-text {
  padding: 0.125em 0.75em;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Banners rules */

.banner-container {
  padding: 0 1em;
  display: grid;
  grid-template: repeat(5, auto) / 1fr;
  grid-template-areas:
    "banner-heading"
    "multi-heading"
    "multi"
    "single-heading"
    "single";
}

.banner-heading {
  grid-area: banner-heading;
}

.multi-line-heading {
  grid-area: multi-heading;
}

.multi-subcontainer {
  grid-area: multi;
}

.banner-subheading,
.multi-line-heading,
.single-heading {
  text-align: center;
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: 400;
  line-height: 63px;
}

.banner-subheading {
  font-size: 1.5rem;
}

.single-heading,
.multi-line-heading {
  font-size: 2rem;
}

.multi-content,
.single-content {
  border-radius: 6px;
  max-width: 890px;
  padding: 1em;
}

.multi-content {
  height: auto;
}

.single-content {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.content-title,
.content-text,
.single-title {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 20px
}

.content-title {
  font-weight: 500;
}

.content-text {
  font-weight: 400;
}

.single-heading {
  grid-area: single-heading;
}

.single-subcontainer {
  grid-area: single;
}

/* Cards rules */

.card {
  display: flex;
  max-width: 384px;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #F9FAFB;
  padding: 2em 1.5em;
  margin: 0 1em 1em;
}

.card-heading {
  color: #111827;
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.card-text {
  color: #6B7280;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
  .badges-container {
    max-width: 1000px;
    padding: 2.875em;
    display: grid;
    grid-template: 125px auto auto/ 150px auto auto;
    grid-template-areas:
      ". heading ."
      "square-text squares squares"
      "pill-text pills pills"
  }

  .badges-heading {
    justify-self: right;
  }

  .banner-container {
    max-width: 1400px;
    /* padding: 2.875em; */
    display: grid;
    grid-template: 125px auto auto/ 180px 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". banner-heading banner-heading . ."
      ". multi-heading multi-heading . single-heading"
      "multi multi multi multi single";
  }

  .banner-heading,
  .multi-line-heading,
  .single-heading {
    justify-self: left;
  }

  .multi-content-container {
    padding: 0 2.875em;
    display: grid;
    grid-template: auto / 130px auto auto;
    grid-template-areas: "subheading container container";
    margin-bottom: 1em;
  }

  .banner-subheading {
    grid-area: subheading;
    margin-right: 1em;
  }

  .multi-content {
    grid-area: container;
  }

  .single-subcontainer {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
  }

  .single-content-container {
    display: flex;
    align-items: flex-end;
  }

  .single-content {
    height: 50px;
    width: 400px;
  }

  .card-section-heading {
    text-align: center;
  }

  .cards-container {
    display: flex;
  }

}